<%= render partial: "shared/navbar" %>
<%= render partial: "flash" %>

<h3>Enter a reading:</h3>
<%= form_for @reading do |f| %>
  <%= f.text_field :glucose_level, placeholder: "mg/dl"%>
  <%= f.submit "Submit", class: "btn btn-primary"%>
<% end  %>
