<%= render partial: "shared/navbar" %>
<% if @report_type == ["monthly"] %>
  <h1><%= @report_type.first.capitalize %> Report Results for <%= format_as_month(@month) %></h1>
<% else %>
  <h1><%= @report_type.first.capitalize %> Report Results for <%= format_date(@date) %></h1>
<% end %>
<div class="report-data">
  <p id="max">Maximum: <%= @data[:maximum] %> mg/dl</p>
  <p id="min">Minimum: <%= @data[:minimum] %> mg/dl</p>
  <p id="avg">Average: <%= @data[:average] %> mg/dl</p>
</div>
